footer {
  background-color: #222831;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__name {
    font-family: "Prata", serif;
    color: $color-white;
    font-weight: 100;
    padding: 3rem 0;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    h1 {
      font-size: 1.5rem;
    }

    &__name {
      padding: 2rem 0;
    }
  }
}
